
/* For mobile phones: */

#contact-us html{
    font-size: 16px;
}

.solid-orange-rounded-border {
    border: 3px solid #ff7700;
    border-radius: 7px;
}

.orange-hover:hover {
    text-decoration: none;
    color:#ff7700;
}

#contact-us p {
    margin-bottom: .5em;
}

#contact-us input {
    min-height: 2.6em;
}

#contact-us textarea {
    min-height: 6em;
}

#contact-us button {
    min-height: 2em;
}

#contact-us label {
    text-align: left;
}

.contact-us-box {
    background: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2em;
    font-size: 1.75em;
}

#contact-us-title {
    color: #ff7700;
    font-size: 2em;
    font-weight: bold;
}


#contact-us-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

#contact-us-name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-us-first-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3em;
}

.contact-us-last-name {
    display: flex;
    flex-direction: column;
}

#contact-us-submit-button {
    background-color: white;
    color: #333;
    transition: 0.5s;
    width: 50%;
    font-size: 1em;
}

#contact-us-submit-button:hover {
    background-color: #ff7700;
    color: white;
}

/* For tablets  */

@media only screen and (min-width: 600px) {

    .solid-orange-rounded-border {
        border-radius: 0 0 10px 10px;
    }

    #contact-us label {
        display: flex;
        background-color: #ff7700;
        width: 100%;
        padding-left: 5px;
        border-radius: 0 10px 0 0;
    }

    #contact-us-name-box {
        flex-direction: row;
        min-height: 0;
    }

    .contact-us-first-name {
        margin-right: 1em;
        margin-bottom: auto;
    }

    #contact-us-form {
        width: fit-content;
        text-align: left;
        align-items: center;
    }

    #contact-us-form input {
        width: 100%;
    }

    #contact-us-form textarea {
        width: 100%;
    }

    .submit-button {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #contact-us-submit-button {
        width: 50%;
        font-weight: 900;
    }
}