                            /* ****************** */
                            /* For mobile phones: */
                            /* ****************** */

html {
    /* font-size: 16px; */
}

body {
    text-align: center;
}
/*  Margin - Clears an area outside the border. The margin is transparent    */
/*  Border - A border that goes around the padding and content               */
/*  Padding - Clears an area around the content. The padding is transparent  */
/*  Content - The content of the box, where text and images appear           */

#desktop-nav {
    display: none;
}

/* Vertical Mobile Navbar */
.mobile-container {
max-width: 480px;
margin: auto;
background-color: #555;
height: 500px;
color: white;
border-radius: 10px;
}

.topnav {
overflow: hidden;
background-color: #333;
position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.active {
background-color: #04AA6D;
color: white;
}
/* FIN Vertical Mobile Navbar */

#carousel1 {
    background: linear-gradient(to top right, #a3a7b7c7, white, #a3a7b7c7);
}

.video-carousel{
    width: 100%;
    height: auto;
}

.image-carousel {
    width: 100%;
    height: auto;
}

/* .slideshow-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.slogan {
    background-color: #a3a7b7c7;
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding: 0 30px 0 30px;
    border-radius: 0 15px 15px 0;
}

.slogan h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.article-texto {
    background: linear-gradient(to bottom right, #a3a7b7c7, white, #a3a7b7c7);
    /* padding: 50px 500px 50px 500px; */
    text-align: center;
    color: black;
    /* font-size: 24px; */
}

.contact-us-box {
    background: linear-gradient(to bottom right, #a3a7b7c7, white, #a3a7b7c7);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 0 0 0;
    /* padding: 30px 10px 40px 10px; */
    /* font-size: 24px; */
}


#contact-us-title {
    color: #ff7700;
    /* font-size: xxx-large; */
    font-weight: bold;
}

p {
    /* background-color: aquamarine; */
    text-align: center;
}

.solid-orange-rounded-border {
    border: 3px solid #ff7700;
    border-radius: 5px;
}

.orange-hover:hover {
    text-decoration: none;
    color:#ff7700;
}

#contact-us-form {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* padding: 15px 15px 15px 15px; */
}

#contact-us-name-box {
    /* background-color: beige; */
    display: flex;
    flex-direction: row;

}

.contact-us-first-name {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    margin-right: 7px;
}

.contact-us-last-name {
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

#contact-us-submit-button {
    background-color: white;
    color: #333;
    font-weight: bold;
    transition: 0.5s;
}

#contact-us-submit-button:hover {
    background-color: #ff7700;
    color: white;
}

.footer {
    background: linear-gradient(to bottom right, #a3a7b7c7, white, #a3a7b7c7);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* width: 100vw; */
    /* height: 400px; */
}

.websolvers-logo {
    /* width: 35px; */
    /* height: 48px; */
    /* margin: 10px 50px 10px 10px; */
}

.websolvers-logo img {
    /* width: 35px; */
    /* height: 48px; */
}
