/*  Margin - Clears an area outside the border. The margin is transparent    */
/*  Border - A border that goes around the padding and content               */
/*  Padding - Clears an area around the content. The padding is transparent  */
/*  Content - The content of the box, where text and images appear           */ 
:root {
    --nav-background-color: #a3a7b7c7;
    --nav-link-color: #fff;
    --nav-link-hover-color: #ff8000;
    --background-color: #252525
}

body {
    text-align: center;
    align-items: center;
    background-color: var(--background-color);
}

body section {
    image-rendering: optimizeSpeed;
}
/*
nav {
    background-color: var(--nav-background-color);               
    width: 100%;                       
    position: fixed;                   
    margin: 0;
    padding: 20px 0 20px 0;
    z-index: 10;
}   

nav ul {
    list-style-type: none;
    margin: 0 50px 0 50px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
nav ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--nav-link-color);
    margin: 0 20px 0 20px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--nav-link-hover-color);
}
  
nav ul li:first-child {
    margin: 0 auto 0 0;
}

.nav-logo img {
    width: 400px;
    margin: 0;
}