body {
    color: black;
    background-color: lightblue;
    text-align: center;

}

.active {
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: lightblue;
}
  
li a:hover {
    background-color: skyblue;
}